@media only screen and (max-width: 1450px) {
  .transition-layer2 {
    top: -28%;
    height: 30%;
  }
}

@media only screen and (max-width: 1200px) {
  .transition-layer {
    top: -16%;
    height: 25%;
  }
  .transition-layer2 {
    top: -24%;
    height: 25%;
  }

  #form-box,
  #about-box {
    width: 50%;
  }
}

@media only screen and (max-width: 1040px) {
  .transition-layer2 {
    top: -25%;
    height: 25%;
  }
  #about-box {
    width: 70%;
    padding: 60px 20px;
  }

  #about-box::after {
    top: -25%;
  }
}

@media only screen and (max-width: 955px) {
  .container {
    padding: 100px 0px;
    text-align: center;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
    position: relative;
    overflow: hidden;
    /* background: #dedded77; */
  }

  #section2 {
    padding-bottom: 200px;
  }
}

@media only screen and (max-width: 1040px) {
  #about-box {
    width: 80%;
  }
}

@media only screen and (max-width: 1040px) {
  #about-box {
    width: 90%;
    padding: 60px 5px;
  }
}

@media only screen and (max-width: 870px) {
  .container {
    padding: 60px 0px;
  }
  #section1 {
    height: 110vh;
  }
  #section2 {
    top: 105vh;
    width: 100vw;
  }

  .transition-layer {
    top: -10%;
    height: 15%;
  }
  .transition-layer2 {
    top: -20%;
    height: 22%;
  }
  #main-cta:after {
    display: none;
  }

  #cta-section {
    height: 80vw;
    margin-top: 120px;
  }
  #text-section {
    width: 80vw;
  }

  button#main-cta {
    font-size: 20px;
    width: 200px;
    height: 60px;
    border-radius: 10px;
  }

  #cta-section {
    height: 80vw;
    margin-top: 70px;
  }

  #section2 {
    padding-bottom: 400px;
  }

  #about-box::after {
    top: -22%;
  }

  section-4 {
    clip-path: polygon(0 0, 100% 5%, 100% 100%, 0% 100%);
  }
}

@media only screen and (max-width: 805px) {
  h1 {
    font-weight: 400;
    font-size: 46px;
    letter-spacing: 5px;
    line-height: 45px;
  }

  #name {
    font-size: 46px;
    font-weight: 900;
  }

  #text-section p {
    font-weight: 300;
    font-size: 18px;
    text-align: left;
    letter-spacing: 3px;
    color: #fff;
  }
  .transition-layer2 {
    top: -18%;
    height: 20%;
  }
}

@media only screen and (max-width: 700px) {
  .transition-layer {
    top: -8%;
    height: 8%;
  }
  .transition-layer2 {
    top: -16%;
    height: 18%;
  }
  button#main-cta {
    font-size: 20px;
    width: 200px;
    height: 60px;
    border-radius: 10px;
  }

  #cta-section {
    height: 80vw;
    margin-top: 90px;
  }

  #form-box {
    width: 70%;
  }

  #about-box::after {
    top: -18%;
  }
}

@media only screen and (max-width: 650px) {
  .transition-layer2 {
    top: -14%;
    height: 16%;
  }
}

@media only screen and (max-width: 500px) {
  h2 {
    font-size: 44px;
    max-width: 80%;
  }
  .container {
    padding: 70px 0px;
  }

  #section1 {
    height: 60vh;
  }
  #section2 {
    top: 100vh;
  }
  .transition-layer {
    top: -10%;
    height: 10%;
  }

  #cta-section {
    height: 100vw;
    margin-top: 120px;
  }

  h1 {
    font-weight: 400;
    font-size: 30px;
    letter-spacing: 5px;
    line-height: 45px;
  }

  #name {
    font-size: 36px;
    font-weight: 900;
  }

  #cta-section {
    height: 80vw;
    margin-top: 30px;
  }

  button#main-cta {
    font-size: 20px;
    width: 200px;
    height: 50px;
    border-radius: 10px;
  }

  .transition-layer2 {
    top: -11%;
    height: 12%;
  }
}

@media only screen and (max-width: 450px) {
  .transition-layer2 {
    top: -10%;
    height: 11%;
  }

  .transition-layer {
    top: -6%;
    height: 8%;
  }

  .container {
    padding: 70px 0px;
  }

  #cta-section {
    height: 80vw;
    margin-top: 10px;
  }

  button#main-cta {
    font-size: 18px;
    width: 160px;
    height: 40px;
    margin-top: 30px;
    border-radius: 10px;
  }

  #about-box::after {
    top: -14%;
  }
}

@media only screen and (max-width: 380px) {
  .transition-layer2 {
    top: -9%;
    height: 10%;
  }

  .container {
    padding: 30px 0px;
  }
}
