@media only screen and (max-width: 2143px) {
  .transition-layer2 {
    top: -25%;
  }
}

@media only screen and (max-width: 1809px) {
  .transition-layer2 {
    top: 0%;
  }
}

@media only screen and (max-width: 2143px) {
  .transition-layer2 {
    top: -25%;
  }
}

@media only screen and (max-width: 1200px) {
  .transition-layer {
    top: -16%;
    height: 25%;
  }
}

@media only screen and (max-width: 935px) {
  #section1 {
    height: 110vh;
  }
  #section2 {
    top: 115vh;
  }
  .transition-layer {
    top: -10%;

    height: 15%;
  }

  #main-cta:after {
    display: none;
  }

  #cta-section {
    height: 80vw;
    margin-top: 120px;
  }
  #text-section {
    width: 80vw;
  }
}

@media only screen and (max-width: 700px) {
  .transition-layer {
    top: -8%;

    height: 8%;
  }
}

@media only screen and (max-width: 805px) {
  h1 {
    font-weight: 400;
    font-size: 46px;
    letter-spacing: 5px;
    line-height: 45px;
  }

  #name {
    font-size: 46px;
    font-weight: 900;
  }

  #text-section p {
    font-weight: 300;
    font-size: 18px;
    text-align: left;
    letter-spacing: 3px;
    color: #fff;
  }
}

@media only screen and (max-width: 700px) {
  button#main-cta {
    font-size: 20px;
    width: 200px;
    height: 60px;
    border-radius: 10px;
  }

  #cta-section {
    height: 80vw;
    margin-top: 90px;
  }
}

@media only screen and (max-width: 500px) {
  .container {
    padding: 70px 0px;
  }

  #section1 {
    height: 60vh;
  }
  #section2 {
    top: 100vh;
  }
  .transition-layer {
    top: -10%;
    height: 10%;
  }

  #cta-section {
    height: 100vw;
    margin-top: 120px;
  }

  h1 {
    font-weight: 400;
    font-size: 30px;
    letter-spacing: 5px;
    line-height: 45px;
  }

  #name {
    font-size: 36px;
    font-weight: 900;
  }

  #cta-section {
    height: 80vw;
    margin-top: 30px;
  }

  button#main-cta {
    font-size: 20px;
    width: 200px;
    height: 50px;
    border-radius: 10px;
  }
}
