@media only screen and (max-width: 2150px) {
  #section2::after {
    height: 100%;
    top: -15%;
  }
}

@media only screen and (max-width: 1450px) {
  .transition-layer2 {
    top: -38%;
    height: 30%;
  }

  #section2::after {
    top: -14%;
  }

  #section-3::after {
    top: -17%;
    height: 18%;
  }
}

@media only screen and (max-width: 1200px) {
  .transition-layer2 {
    top: -24%;
    height: 25%;
  }

  #form-box,
  #about-box {
    width: 50%;
  }
}

@media only screen and (max-width: 1040px) {
  .transition-layer2 {
    top: -25%;
    height: 25%;
  }
  #about-box {
    width: 70%;
    padding: 60px 20px;
  }

  #about-box::after {
    top: -30%;
  }

  #section2::after {
    top: -18%;
    height: 100%;
  }
}

@media only screen and (max-width: 955px) {
  .container {
    padding: 100px 0px;
    text-align: center;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
    position: relative;
    overflow: hidden;
    /* background: #dedded77; */
  }

  #section2 {
    padding-bottom: 200px;
  }

  #about-box::after {
    top: -30%;
  }

  #section-3::after {
    top: -14%;
    height: 14%;
  }
}

@media only screen and (max-width: 1040px) {
  #about-box {
    width: 80%;
  }
}

@media only screen and (max-width: 1040px) {
  #about-box {
    width: 90%;
    padding: 60px 5px;
  }
}

@media only screen and (max-width: 870px) {
  .container {
    padding: 60px 0px;
  }
  #section1 {
    height: 110vh;
  }
  #section2 {
    top: 105vh;
    width: 100vw;
  }

  #section2::after {
    height: 10%;
    top: -8%;
  }

  #section-3::after {
    top: -10%;
    height: 12%;
  }
  .transition-layer2 {
    top: -20%;
    height: 22%;
  }
  #main-cta:after {
    display: none;
  }

  #cta-section {
    height: 80vw;
    margin-top: 120px;
  }
  #text-section {
    width: 80vw;
  }

  button#main-cta {
    font-size: 20px;
    width: 200px;
    height: 60px;
    border-radius: 10px;
  }

  #cta-section {
    height: 80vw;
    margin-top: 70px;
  }

  #section2 {
    padding-bottom: 400px;
  }
}

@media only screen and (max-width: 805px) {
  h1 {
    font-weight: 400;
    font-size: 46px;
    letter-spacing: 5px;
    line-height: 45px;
  }

  #name {
    font-size: 46px;
    font-weight: 900;
  }

  #text-section p {
    font-weight: 300;
    font-size: 18px;
    text-align: left;
    letter-spacing: 3px;
    color: #fff;
  }
  .transition-layer2 {
    top: -18%;
    height: 20%;
  }
}

@media only screen and (max-width: 700px) {
  #section2::after {
    height: 3%;
    top: -3%;
  }
  .transition-layer2 {
    top: -16%;
    height: 18%;
  }
  button#main-cta {
    font-size: 20px;
    width: 200px;
    height: 60px;
    border-radius: 10px;
  }

  #section-3::after {
    top: -8%;
    height: 8%;
  }

  #cta-section {
    height: 80vw;
    margin-top: 90px;
  }

  #form-box {
    width: 70%;
  }

  #about-box::after {
    top: -24%;
  }

  .card {
    max-height: 1000px;
  }
}

@media only screen and (max-width: 650px) {
  .transition-layer2 {
    top: -12%;
    height: 16%;
  }

  #about-box::after {
    top: -20%;
  }

  #section1 {
    animation: gradient 5s ease infinite;
  }

  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
}

@media only screen and (max-width: 600px) {
  #section-3::after {
    top: -7%;
    height: 7%;
  }

  .project-container {
    padding: 0 1rem;
  }

  .main-header {
    padding: 1rem;
  }

  .card > div {
    padding: 1rem;
  }
}

@media only screen and (max-width: 500px) {
  #form-box {
    width: 90%;
  }
  .social-container {
    width: 90%;
  }
  h2 {
    font-size: 44px;
    max-width: 80%;
  }
  .container {
    padding: 70px 0px;
  }

  #section1 {
    width: 100vw;
    height: 60vh;
  }
  #section2 {
    top: 110vh;
  }
  .transition-layer {
    top: -15%;
    height: 10%;
  }

  #cta-section {
    height: 100vh;
    margin-top: 120px;
  }

  h1 {
    font-weight: 400;
    font-size: 30px;
    letter-spacing: 5px;
    line-height: 45px;
  }

  #name {
    font-size: 36px;
    font-weight: 900;
  }

  #cta-section {
    height: 80vw;
    margin-top: 30px;
  }

  #main-cta {
    font-size: 20px;
    width: 200px;
    height: 50px;
    border-radius: 10px;
    margin-top: 40px;
  }

  .transition-layer2 {
    top: -11%;
    height: 12%;
  }

  #section-4 {
    clip-path: polygon(0 2%, 50% -5%, 100% 2%, 100% 100%, 0% 100%);
    z-index: 10;
  }
}

@media only screen and (max-width: 525px) {
  #section-3::after {
    top: -4.5%;
    height: 5%;
  }

  #birds {
    width: 250px;
    position: absolute;
    top: 90;
    right: 150px;
  }

  #about-box {
    width: 90%;
    padding: 60px 3px;
  }

  #about-box p {
    width: 100%;
  }
}

@media only screen and (max-width: 450px) {
  #section-3 {
    top: 95vh;
  }

  #section-3::after {
    top: -4.5%;
    height: 5%;
  }

  .container {
    padding: 70px 0px;
  }

  #cta-section {
    height: 80vw;
    margin-top: 10px;
  }

  #section2 {
    width: 100%;
    top: 95vh;
  }

  #main-cta {
    font-size: 16px;
    padding: 10px;
    width: 160px;
    height: 40px;
    margin-top: 30px;
    border-radius: 10px;
  }

  #about-box::after {
    top: -14%;
  }
}

@media only screen and (max-width: 400px) {
  #section-3 {
    top: 95vh;
  }

  .card img {
    height: 300px;
  }

  #section-3::after {
    top: -3.5%;
    height: 4%;
  }

  #section2::after {
    height: 2%;
    top: -1.8%;
  }
}

@media only screen and (max-width: 380px) {
  .transition-layer2 {
    top: -9%;
    height: 10%;
  }

  .container {
    padding: 30px 0px;
  }
}
